.contractor-details {
  &-section {
    &-label {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 500;
      color: #8392A5;
      margin: 0;
      height: 38px;
      line-height: 38px;
      display: flex;
      flex-shrink: 0;
    }

    &-value {
      display: block;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      color: $color-text-primary;
    }
  }

  .form-group {
    > div {
      justify-content: flex-start !important;

      .form-switch {
        font-size: 20px;
      }
    }
  }
}
