.rule {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  .button {
    margin-top: 22px;
  }

  .form-group {
    flex-direction: column;

    .form-label {
      line-height: 1.5;
      height: auto;
      width: auto;
      margin-bottom: 5px;
    }

    .flex-grow-1 {
      width: 100%;
    }
  }

  > div {
    display: flex;
    flex: 1;
    margin-right: 20px;
  }

  &-actions {
    max-width: 80px;
    justify-content: flex-end;
    margin-right: 0 !important;
  }
}
