.clearable-badge {
  background-color: $gray-200;
  height: 20px;
  display: inline-flex;
  align-items: stretch;
  border-radius: 3px;
  margin-right: 6px;

  &-label {
    line-height: 20px;
    white-space: nowrap;
    font-size: 12px;
    color: $black;
    padding: 0 6px;
  }

  &-clear {
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba($gray-600, 0.3);

    &:hover {
      cursor: pointer;

      > svg {
        stroke: $black;
      }
    }

    > svg {
      stroke: $gray-600;
    }
  }
}