.form-group {
  margin-bottom: 0;
}

.form-control-container {
  height: 39px;
}

.input-group-text {
  &.is-invalid {
    border-color: #E63757;
  }
}

.quill {
  &.is-invalid {
    .ql-toolbar, .ql-editor {
      border-color: #E63757;
    }
  }
}

.react-datepicker-wrapper {
  .form-control {
    background-color: $white;
  }
}
