.modal-dialog {

  &.modal-lg {
    max-width: 900px;
  }

  .form-label:not(.large-label) {
    margin-bottom: 0;
    width: 130px;
    font-size: 13px;
    padding-right: 10px;
    flex-shrink: 0;
    display: block;
    height: 39px;
    line-height: 39px;
  }

  .form-control {
    font-size: 14px;
  }

  .form-text {
    margin-bottom: 0;
    padding-right: 50px;
  }
}