.it-select-container {
  min-width: 300px;

  .dropdown-toggle:after {
    position: absolute;
    top: 13px;
    right: 6px;
  }
}

.it-select {
  &-control {
    .form-control {
      min-height: 40.5px;
    }
  }

  &-option {
    color: $gray-600;

    &:hover, &.selected {
      color: $black;
    }
  }

  &-options {
    max-height: 250px;
    overflow-y: auto;
  }
}